################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A
/MASM
/TTT286
/COMPTEST.BAT
*.EXE
*.OBJ
/DEBUG.COM
/INIT.BAT
*.zip
/TOOLS
*.TGA
