################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A
/MASM
/TTT286
/COMPTEST.BAT
*.EXE
TICTAC.OBJ
/DEBUG.COM
/init.bat
*.zip
/TOOLS
*.TGA
/build
/BUILD
